version: "3.9"
services:
  postgres:
    container_name: postgresDB
    image: postgres:16.1
    restart: always
    environment:
      POSTGRES_DB: usersdb
      POSTGRES_USER: root
      POSTGRES_PASSWORD: pass
    ports:
      - "5432:5432"
